<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAuY2rHYXIJJbhgZGMglqlmU_XGPPgSrJo</string>
	<key>GCM_SENDER_ID</key>
	<string>1037046937320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.euroOnboardApp</string>
	<key>PROJECT_ID</key>
	<string>euroonboard</string>
	<key>STORAGE_BUCKET</key>
	<string>euroonboard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037046937320:ios:c3797538ccf5cb85113b5d</string>
</dict>
</plist>